@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');
body, html {
    margin: 0;
    padding: 0;
    background-color: #15031e;
    overflow: hidden;
    height: 100%;
}
body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
.modal-full {
    min-width: 100%;
    margin-left: 80;
    overflow: hidden;
}

.modal-full .modal-content {
    background-color: #15031e;
    min-height: 98vh;
    overflow-y: hidden;
}
.container-fluid {
    height: 100%;
}

.row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 70vh;
}

.col-8{
    display: flex;
    justify-content: center;
}

.heading {
    text-align: left;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.description {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: snow;
}

.col-4{
    padding: 50px;
}
.close {
    color: snow;
}
