*,body,html {
    margin: 0;
    padding: 0;
    background-color: #1e241f;
    overflow-x: hidden;
}

.container-fluid {
    margin-top: 0;
}
.col-8 {
    padding-top: 10%;
}
img {
    width: 80%;
    height: 75%;
}
.col-4 {
    padding-top: 5%;
}
.heading {
    text-align: left;
    color: #e9e0c9;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5.5vw;
}
.description {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.45vw;
    color: snow;
}