body{
	background-color: #15031e;
}

.hover-building{
	cursor: pointer;
}
.hover-building:hover{
	cursor: pointer;
	filter: drop-shadow(15px 15px 10px black);
	filter: contrast(150%);
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	-ms-filter: contrast(150%);
	-o-filter: contrast(150%);

}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.content-head{
	font-family: 'Montserrat', sans-serif;
}

.content-desc{
	font-family: 'Open Sans', sans-serif;
}

.modal{
	font-family: 'Open Sans', sans-serif;
}
