@font-face {
	font-family: ping_heading;
	src : url("../Rustico-Regular.otf");
}

body{
	background-color: #15031e;
}

.hover-building{
	cursor: pointer;
}
.hover-building:hover{
	cursor: pointer;
	filter: drop-shadow(15px 15px 10px black);
	filter: contrast(150%);
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	-ms-filter: contrast(150%);
	-o-filter: contrast(150%);

}
::-webkit-scrollbar {
	display: none;
}
.main_heading {
	font-family: ping_heading;
	color : #fcbe2f;
	font-size: 4rem;
	text-align: center;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.content-head{
	font-family: 'Montserrat', sans-serif;
}

.content-desc{
	font-family: 'Open Sans', sans-serif;
}

.modal{
	font-family: 'Open Sans', sans-serif;
}
