body{
	background-color: #15031e;
}

.hover-building{
	cursor: pointer;
	/*filter: grayscale(90%);*/
	/*opacity: 0.7;*/
}
.hover-building:hover{
	cursor: pointer;
	filter: drop-shadow(15px 15px 10px black);
	filter: contrast(150%);
	/*opacity: 1;*/
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.content-head{
	font-family: 'Montserrat'
}

.content-desc{
	font-family: 'Open Sans'
}
