<!DOCTYPE html>
<html>

<head>
	<title>Campus | Felicity</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/components.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<img src="../svgs/felicity.svg">
			</div>
			<div class="col-4">
				<h1 class="heading">Felicity</h1>
				<br>
				<h3 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor consequat neque, ac vulputate lacus ultricies vitae. In hac habitasse platea dictumst. Proin in metus eget ex dictum suscipit. Etiam tellus sapien, placerat eget purus sed, lobortis ornare odio. Duis consectetur massa nec finibus suscipit.</h3>
			</div>
		</div>
	</div>
</body>

</html>