<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" href="../css/style_ground.css">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<img src="../svgs/ground.svg">
			</div>
			<div class="col-4">
				<p class="heading">Ground</p>
				<br>
				<p class="description">Description</p>
				<br>
				<a href="#">Some link here</a>
			</div>
		</div>
	</div>
</body>

</html>